body {
  display: flex;
  width: 1981px;
  height: 844px;
  font-family: Arial;
  margin: 0;
}

/* left & right sections */
/* left & right sections: line font */
.lr-font {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1;
  margin-left: 17px
}

.arrow {
  color: #BDC6D3;
}
/* dot line */
.dot-line {
  border-top: 2px dotted #829AAA; 
}

#left-section, #right-section{
  background-color: #123262;
  flex: 427;
  /* width: 427px; */
  padding-right: 40px;
}

#left-section {
  padding-left: 30px;
  padding-top: 35px;
}

#right-section {
  padding-left: 20px;
  padding-top: 30px;
}

/* middle section */
#middle-section {
  background-color: #DDDDDD;
  /* width: 936px; */
  flex: 936;
  padding-left: 32px;
  padding-right: 30px;
  padding-top: 50px;
}

/* two special subsections in middle section */
#top-section, #bottom-section {
  padding-left: 16px;
  margin: 0;
}

#top-section {
  background-color: #ECE17D;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 4px;
  color: #900000;
  font-size: 2em;
  font-weight: 900;
}

#bottom-section {
  background-color: #FBF9E5;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 22px;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.2;
}

/* for normal txt */
#txt1 {
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 2.2em;
  font-weight: 700;
  color: #123262;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

#txt2 {
  margin-top: 30px;
  font-size: 1.8em;
  /* font-weight: bold; */
  line-height: 1.5;
}