/* big version */
@media screen and (min-width: 864.01px) {
    .bigscreen{
        display: initial;
        margin: 0 auto;
    }
    .smallscreen{
        display: none;
    }
}

/* small version */
@media screen and (max-width: 864px) {
  .bigscreen{
      display: none;
  }
  .smallscreen{
      display: initial;
      margin: 0 auto;
  }
}

body {
    width: 100%;
    background-color: #141414;
    color: #FFFFFF;
    margin: 0 auto;
}

.line {
  border-top: 1px solid #CDCDCD; 
}

#learn-more:hover {
  background-color: #FFFFFF;
  color: #000000;
}

#sign-up:hover {
  opacity: 0.5;
}