body {
  font-size: 1pt;
  font-family: Arial;
}
#top-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4vh;
}

.top-half-section {
  width: 100vw;
}

#title-fonts {
  margin: 1.2vh 0 0.9vh 4.9vw;
  font-size: 26em;
  font-weight: bolder;
  font-style: italic;
  color: #F9F9F9;
  line-height: 1em;
  word-spacing: 0.1em;
  /* padding-bottom: 0.5em; */
}

.basic-fonts {
  margin: 0 0 0.9vh 4.9vw;
  font-size: 0.9em;
  color: #B6B6B6;
  letter-spacing: 0.6em;
}

.bold-fonts {
  margin: 0.9vh 0 0vh 4.9vw;
  color: #F9F9F9;
  font-size: 11em;
  font-weight: bold;
  line-height: 2em;
  font-style: italic;
  letter-spacing: 0.12em;
}

.bold-right-line2 {
  margin-top: 0.3vh;
}

.small-fonts {
  margin: 0 0 0 4.9vw;
  font-size: 11em;
  letter-spacing: 0.12em;
  line-height: 2.5em;
  color: #B6B6B6;
}

.small-right {
  margin-top: 0.4vh;
  font-size: 5em;
}

#middle-line {
  margin: 5.7vh 0 0 4.9vw;
  padding: 0 3.8vw;
  width: 82.2vw;
  height: 6.2vh;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:space-around;
}


#middle-upper-part {
  padding-top: 0.7vh;
  width: 83vw;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

#middle-upper-left {
  letter-spacing: 0.1em;
  align-items: center;
  line-height: 100%;
  font-size: 11.5em;
  font-style: italic;
}

#learn-more {
  margin-right: 1.7vw;
  background-color: transparent;
  color: #F9F9F9;
  width: 30vw;
  height: 1.8vh;
  border: 2px solid #f9f9f9;
  font-size: 10em;
  letter-spacing: 0.1em;
}

#sign-up{
  margin: 1.5vh 0 0 4.9vw;
  width: 37vw;
  height: 2vh;
  border: 0;
  background-color: #27B069;
  text-align: center;
  color: #FFFFFF;
  font-size: 11em;
  letter-spacing: 0.1em;
}

#compare {
  margin: 6.5vh 0 1.5vh 4.9vw;
  font-size: 21em;
  font-style: italic;
  letter-spacing: 0.1em;
}

#table1 {
  margin: 0 4.9vw;
  width: 90.2%;
  color: #B6B6B6;
  font-size: 11em;
  border-collapse: collapse;
}

#table1 th, #table1 tr:nth-child(1) {
  height: 2.6vh;
}
#table1 tr:nth-child(n+2) {
  height: 2.8vh;
}

#table1 th, #table1 td {
  border-bottom: 2px solid #252525;
}

#table1 tr:nth-child(1), #table1 th:nth-child(1) {
  border-bottom: 0;
}

#table1 tr:nth-child(even) {
  text-align: left; 
  vertical-align: middle;
}

#table1 tr:nth-child(odd), #table1 tr:nth-child(10) {
  text-align: center;
}

/* first column */
#table1 tr:nth-child(odd) td:nth-child(1), #table1 tr:nth-child(10) td:nth-child(1){
  background-color: #252525;
  font-size: 1.1em;
  font-weight: bold;
  width: 17%;
}

#table1 td:nth-child(2) {
  width: 33%;
}

#table1 tr:nth-child(9) {
  height: 4.8vh;
  text-align: left;
  padding-right: 40vw;
}

#table1 tr:nth-child(9) td:nth-child(1) {
  background-color: #141414;
}

#table1 tr:nth-child(10) {
  height: 4.2vh;
}


.experiment-cell {
  display: flex;
  flex-direction: column;
}

.experiment-cell-style1 {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
  padding-bottom: 0.7vh;
}
.experiment-cell-style2 {
  font-size: 0.85em;
  word-spacing: 0.2vw;
  /* line-height: 0.5vh; */
  padding-right: 30vw;
}

.last-line {
  margin: 2vh 4.9vw;
  font-size: 11.5em;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  word-spacing: 0.05em;
  color: #B6B6B6;
}